/.DS_Store
/materials/*.pdf
# exclue the file starts with "Meta Learning"
*.pdf
/materials/ch.10/catboost_info/*
/materials/ch.11/catboost_info/*
/materials/ch.11/models/*
/catboost_info/*
/materials/images/*
/conda-env/*